@import "config";
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.r-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.r-header{
  height: $r-header-height;
}
.r-content-container{
  height: $r-content-container-height;
  display: flex;
}
.r-main{
  height: 100%;
  width: $r-main-width;
}
.r-aside{
  width: $r-aside-width;
}
.r-content{
  height: $r-main-content-height;
}
.r-footer{
  height: $r-main-footer-height;
}
